{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
        "jsx": true
    }
  },
  "root": true,
  "extends": "airbnb-base",
  "env": {
    "node": true,
    "browser": true,
    "es6": true
  },
  "rules": {
    "max-len": [1, 80, 2],
    "consistent-return": 0,
    "no-param-reassign": 0,
    "comma-dangle": 0,
    "linebreak-style": [0, "windows"],
    "curly": ["error", "multi-line"],
    "import/no-unresolved": "off",
    "import/extensions": "off",
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
    "no-shadow": ["error", { "allow": ["req", "res", "err"] }],
    "valid-jsdoc": ["error", {
      "requireReturn": true,
      "requireReturnType": true,
      "requireParamDescription": false,
      "requireReturnDescription": true
    }],
    "require-jsdoc": ["error", {
        "require": {
            "FunctionDeclaration": true,
            "MethodDefinition": true,
            "ClassDeclaration": true,
            "ArrowFunctionExpression": true
        }
    }]
  },
  "parser": "babel-eslint"
}
